.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: end;

    background: linear-gradient(to right, rgb(0, 177, 124) 1%, rgb(146, 248, 255) 99%);
    max-height: 32px;
}

.footer span {
    font-weight: 300;
    font-size: 1.1rem;
}